{% extends 'layout.html' %}
{% block content %}
    <h1>{{ current_user.username }}</h1>
    {% for pitch in pitches %}
        <article class="media content-section">

            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">@{{ pitch.author.username }}</a>
                    <small class="text-muted">{{ pitch.date_posted.strftime('%Y-%m-%d') }}</small>
                    <p class="article-content">Category: {{ pitch.category }}</p>
                </div>

                <h2><a class="article-title" href="#">{{ pitch.pitch }}</a></h2>
            </div>

        </article>
    {% endfor %}
{% endblock content %}